@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    min-height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(38,51,97,1) 0%, rgba(65,143,222,1) 79% );
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    height: 100%;
    width: 100%;
}